<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- font poppins -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/assets/deathnote.css">
    <title>DeathNote</title>
</head>
<body>
   
    <form action="/deathnote" method="POST">
        <h1><a href=""><img src="https://fontmeme.com/permalink/211018/164fe7a6771c05b8f1d78be0c76d9d57.png" alt="death-note-font" border="0"></a></h1>
        <input type="text" placeholder="enter your name">
        <input type="text" placeholder="enter the name of your shinigami">
        <!-- <label for="shinigamieyes">Do you want the shinigami eyes ?</label>
        <div>
           Yes<input type="radio" >
           <br>
           No<input type="radio" >
        </div>  -->
        <input type="text" placeholder="whom do you want to kill?">
        <input type="text" placeholder="why do you want to kill?">
        <input type="text" placeholder="At which time do you want to kill?">
        <input type="text" placeholder="At which place do you want to kill?">
        <label for="confirm">I am Kira &nbsp;</label>
       <input type="checkbox" name="myForm" id="confirm">
    <br>
        <<input type="submit" value="Kill">
        
        <!-- <span>Forget <a href="">password</a> </span> -->
    </form>
</body>
</html>