<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/episodes.css">
    <title>video_player</title>
    
</head>
<body>   
        <div class="video_box">
            <div style="float: left;" >
            <iframe class="video_player" id="myFrame" src="" allowfullscreen width="400%" height="350"></iframe>
            </div>

        <!--buttons-->

            <div>
                <button class="playbutton" onclick="myFunction1()"></button>
            </div>

        <div  style="float: left; margin-top: 0px;margin-left: 0px;">
            <div class="button">
                    <button  onclick="myFunction1()">1-REBIRTH</button>
                    <button  onclick="myFunction2()">2-CONFRONTATION</button>
                    <button  onclick="myFunction3()">3-DEALINGS</button>
                    <button  onclick="myFunction4()">4-PERSUIT</button>
                    <button  onclick="myFunction5()">5-TACTICS</button>
                    <button  onclick="myFunction6()">6-UNRAVELING</button>
                    <button  onclick="myFunction7()">7-OVERCAST</button>
                    <button  onclick="myFunction8()">8-GLARE</button>
                    <button  onclick="myFunction9()">9-ENCOUNTER</button>
                    <button  onclick="myFunction10()">10-DOUBT</button>
                    <button  onclick="myFunction11()">11-ASSAULT</button>
                    <button  onclick="myFunction12()">12-LOVE</button>
                    <button  onclick="myFunction13()">13-CONFESSION</button>
                    <button  onclick="myFunction14()">14-FRIEND</button>
                    <button  onclick="myFunction15()">15-WAGER</button>
                    <button  onclick="myFunction16()">16-DECISION</button>
                    <button  onclick="myFunction17()">17-EXECUTION</button>
                    <button  onclick="myFunction18()">18-ALLY</button>
                    <button  onclick="myFunction19()">19-MATSUDA</button>
                    <button  onclick="myFunction20()">20-MAKESHIFT</button>
                    <button  onclick="myFunction21()">21-PERFORMANCE</button>
                    <button  onclick="myFunction22()">22-GUIDANCE</button>
                    <button  onclick="myFunction23()">23-FRENZY</button>
                    <button  onclick="myFunction24()">24-REVIVAL</button>
                    <button  onclick="myFunction25()">25-SILENCE</button>
                    <button  onclick="myFunction26()">26-RENEWAL</button>
                    <button  onclick="myFunction27()">27-ABDUCTION</button>
                    <button  onclick="myFunction28()">28-IMPATIENT</button>
                    <button  onclick="myFunction29()">29-FATHER</button>
                    <button  onclick="myFunction30()">30-JUSTICE</button>
                    <button  onclick="myFunction31()">31-TRANSFER</button>
                    <button  onclick="myFunction32()">32-SELECTION</button>
                    <button  onclick="myFunction33()">33-SCORN</button>
                    <button  onclick="myFunction34()">34-VIGILANCE</button>
                    <button  onclick="myFunction35()">35-MALICE</button>
                    <button  onclick="myFunction36()">36-1.28</button>
                    <button  onclick="myFunction37()">37-NEW WORLD</button>

                   
            </div>
        </div>
        </div>

        <!--animated text-->
        <div class="wrapper" style="position: relative;margin-top: -55%;left: 0%;">
            <div class="typing">
                  <h1>DEATH NOTE</h1>
                  <h2 id="h2">HOW TO USE IT</h2>
            </div>
        </div>
        <div class="container" style="position: relative;margin-top: -39%;left: 0%;">
            <div class="typing" style="width: 480px;position: relative; left:14rem;" >
                <h3 id="h3">1-The human whose name is written in this note shall die.</h3>
                <h4 id="h4">2-This note will not take effect unless the writer has the</h4>
                <h5 id="h5">person's face in their mind when writing his/her name.</h5>
                <h6 id="h6">Therefore, people sharing the same name will not be affected.</h6>
            </div>
            <div class="type" style="width: 480px;position: relative;top: 148px;left:-16rem;" >
                <h1 id="h7">3-If the cause of death is written within the next 40 seconds</h1>
                <h2 id="h8">of writing the person's name, it will happen.</h2>
                <h3 id="h9">4-If the cause of death is not specified, the person will</h3>
                <h4 id="h10">simply die of a heart attack.</h4>
                <h5 id="h11">5-After writing the cause of death, details of the death</h5>
                <h6 id="h12">should be written in the next 6 minutes and 40 seconds.</h6>
            </div>
        </div>
    <script>
        //-----------function to make hidden headings appear-----------------
        setTimeout(function(){
            document.getElementById("h2").style.visibility="visible"
        }, 5000);
        setTimeout(function(){
            document.getElementById("h3").style.visibility="visible"
        }, 10000);
        setTimeout(function(){
            document.getElementById("h4").style.visibility="visible"
        }, 30000);
        setTimeout(function(){
            document.getElementById("h5").style.visibility="visible"
        }, 50000);
        setTimeout(function(){
            document.getElementById("h6").style.visibility="visible"
        }, 70000);
        setTimeout(function(){
            document.getElementById("h7").style.visibility="visible"
        }, 90000);
        setTimeout(function(){
            document.getElementById("h8").style.visibility="visible"
        }, 110000);
        setTimeout(function(){
            document.getElementById("h9").style.visibility="visible"
        }, 125000);
        setTimeout(function(){
            document.getElementById("h10").style.visibility="visible"
        }, 145000);
        setTimeout(function(){
            document.getElementById("h11").style.visibility="visible"
        }, 155000);
        setTimeout(function(){
            document.getElementById("h12").style.visibility="visible"
        }, 175000);
        // -------------------function for buttons--------------
        function myFunction1() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1Iapy9wZwttWAkUotnGDbl4suzOMnKX-S/preview" ;
        }  
        function myFunction2() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1Ic2dsuOKrj_BQND8JYBssPCR7TX8Mq1d/preview";
        }  
        function myFunction3() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1IguZJYjetdmifX2OEoXe4NpdaBlgD6Ta/preview";
        }  
        function myFunction4() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1IlwODe1Up6O6h5QbMkYDAFcFnFkRjIce/preview" ;
        } 
        function myFunction5() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1IygBS9RIQYRSFNbC19KFn2pI-F3cdGS1/preview";
        } 
        function myFunction6() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1J3uS0tkJA61Rnf8jHwLPx7MklRTbm-KH/preview";
        } 
        function myFunction7() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1J8VKXgTK2zSxtlkN6WfU7XHFA_7zVOaY/preview";
        } 
        function myFunction8() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1J8dtUuJ_ux4pgCzbRXUyiF19D4hg8bPv/preview";
        } 
        function myFunction9() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1JDT1erHEHGiv8SE1J3Nx8HWarDSt1Z4C/preview";
        } 
        function myFunction10() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1JFYj2X04ocQ-KVbcuNKgOwY2eX_gByJY/preview" ;
        }
        function myFunction11() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1JEQeF0o0LD0-HYbH1OUsdLZOc0QT-XAy/preview" ;
        }
        function myFunction12() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1JIBCYH9g4gf_c6RXmi3u6RqnseBfc_ko/preview" ;
        }
        function myFunction13() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1JT0tLqVxtivFnGKTvK3wPE4wOW14PNi-/preview" ;
        }
        function myFunction14() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1OZAjOMu9PGYh-B-8goxnZL1-6kue2Mv7/preview" ;
        }
        function myFunction15() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1OcX1IkFJRfJXyvNxuWQtPsJJMA5kkBvK/preview" ;
        }
        function myFunction16() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1OgodfR8zqOWFZv0PgLCi56HKwK_wjiFS/preview" ;
        }
        function myFunction17() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1JrJSOSrmuf1Ys-6b53pFCt11yauB8mc7/preview" ;
        }
        function myFunction18() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1TFzl2_DREAmBm8aaQFes1gpZQJmv9Rtb/preview" ;
        }
        function myFunction19() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1TO9bF3lt5UCimoQZtOvaHN6MWVytRVrg/preview" ;
        }
        function myFunction20() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1DHKj_1NFPiw73cUNWakzzC7KjgiRr99T/preview" ;
        }
        function myFunction21() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1Rius8NgC0nCtSw_AJ5oUSR_9H2WtbinN/preview" ;
        }
        function myFunction22() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1DG5tOQu3wr6ofj3TM56pR44j0I6LdNTq/preview" ;
        }
        function myFunction23() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1K85NitsIuve5X0wU51oHyitG_7YIFcql/preview" ;
        }
        function myFunction24() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1KGNCvxZFl_NfJzktEkEdOTFgc0ZELbuH/preview" ;
        }
        function myFunction25() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1DF6Kz2G-wu95Dia9v8AG_z_kgVpWfHpy/preview" ;
        }
        function myFunction26() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1DCWObm2icp72IFLBr5NKzOyd575hIynF/preview" ;
        }
        function myFunction27() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1D330Syh64slQH-R-JPpH_WCks6Ur7yva/preview" ;
        }
        function myFunction28() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1KefKizDgYi2PRTFU13yHBwFUfxVGYPa3/preview" ;
        }
        function myFunction29() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1KyUlBm5IKcXyUBuyKfiTsrYXHoGN_ab1/preview" ;
        }
        function myFunction30() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1UF9LKZCeqUZyVx4gbtYqTTBqPe0aGXCI/preview" ;
        }
        function myFunction31() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1LuFaUSGDOH1fS4gnZ6MAAPbIQleh4nRG/preview" ;
        }
        function myFunction32() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1LuErVfG7xmZPLhnPyBdm7zQ63oc_wpR8/preview" ;
        }
        function myFunction33() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1Cx8fGpupi4uT-jzaFFkDLD-DTxqdQwf9/preview" ;
        }
        function myFunction34() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1Lt3Oxd4EdBiQDPwRTWK-eSMRXiC1tJ7U/preview" ;
        }
        function myFunction35() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1LpaPj7tsOtFtqF7wN-fe4yBK4d4lt6mp/preview" ;
        }
        function myFunction36() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1Lo9oBdVoewpbnlRFcWLjdTB0iOUkxpq9/preview" ;
        }
        function myFunction37() {
            document.getElementById("myFrame").src = "https://drive.google.com/file/d/1IZ0d3EkK8sbzUklnzqdZyEnZsAu6HP_Z/preview" ;
        }
        </script>

</body>
</html>
