<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Death Note</title>
</head>

<body>
    <!-- header -->
    <section class="header">
        <nav>

            <a href="/"><div class="logo">DEATHNOTE</div></a>
            <div class="nav-links" id="navLinks">

                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="#characters">CHARACTERS</a></li>
                    <li><a href="#manga">MANGA</a></li>
                    <li><a href="/episodes">EPISODES</a></li>
                    <li><a href="#testinomial">TESTINOMIALS</a></li>
                </ul>
            </div>

        </nav>

        <div class="text-box">
            <h1>PLAYING WITH JUSTICE</h1>
            <p>
                There is no Heaven or Hell . No matter what you do while you are alive , Everybody goes to the same
                place once you die
            </p>
            <a href="/deathnote" class="hero-btn">OPEN DEATHNOTE</a>
        </div>
    </section>


    <!-- characters -->

    <section class="characters" id="characters">
        <div class="heading"> <b> Main </b> Characters </div>

        <div class="container">
            <main class="grid">
                <article>
                    <img src="/assets/img/Light.jpg" alt="Light" width="350px" height="300px">
                    <div class="text">
                        <h3>Light Yagami</h3>
                        <p>Light is characterized as hardworking, talented, and a natural genius.</p>
                        <a href="/light"><button class="hero-btn1">View More</button></a>
                    </div>
                </article>
                <article>
                    <img src="/assets/img/LCharacter.png" alt="L" width="350px" height="300px">
                    <div class="text">
                        <h3>L Character</h3>
                        <p>L is a very slim, pale, tall young man with messy neck-length black hair.</p>
                        <a href="/lchar"><button class="hero-btn1">View More</button></a>
                    </div>
                </article>
                <article>
                    <img src="/assets/img/ryuk.jpg" alt="Ryuk" width="350px" height="300px">
                    <div class="text">
                        <h3>Ryuk</h3>
                        <p class="charactertext">Ryuk regards Light as "interesting," specifically due to his
                            experiments.</p>
                        <a href="/ryuk"><button class="hero-btn1">View More</button></a>
                    </div>
                </article>
            </main>
        </div>

    </section>


    <!-- Manga -->
    <section class="manga" id="manga">
        <div class="containerManga">
            <!-- <h1><a href="/assets/img/reasoning.pdf">READ MANGA</a></h1> -->
            <div class="heading"> <b> Our </b> Manga </div>
            <a href="/assets/img/deathnotemanga.pdf">
                <i class="far fa-file-pdf"></i>
            </a>
            <p>Death Note (デスノート, Desu Nōto) is a manga series created by writer Tsugumi Ohba and illustrator Takeshi
                Obata. The series centers around a high school student who discovers a supernatural notebook that allows
                him to kill anyone by writing the victim's name while picturing their face.</p>
        </div>
    </section>

    <!-- Testinomials -->
    <section class="testinomial" id="testinomial">
        <div class="heading"> <b> Our </b> Testinomials </div>
        <div class="wrapper">
            <div class="containertest">
                <div class="profile">
                    <div class="imgBox">
                        <img src="/assets/img/viratkohli.jpg" alt="virat">
                    </div>
                    <h2>Virat Kohli</h2>
                </div>
                <p> <span class="fa fa-quote-left left"></span> The storyline is terrific -- as with horror-fantasies
                    like Boogiepop Phantom and Paranoia Agent, Death Note doesn't limit the focus to the protagonist,
                    and it considers the effects his activities would have on society at large.<span
                        class="fa fa-quote-right right"></span></p>
                        <div class="social">
                            <a href="https://twitter.com/search?q=virat+kohli&ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Esearch" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/virat.kohli/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://www.facebook.com/virat.kohli" target="_blank"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.youtube.com/results?search_query=virat+kohli" target="_blank"><i class="fab fa-youtube"></i></a>
                        </div>
            </div>

            <div class="containertest">
                <div class="profile">
                    <div class="imgBox">
                        <img src="/assets/img/msdhoni.jpg" alt="msd">
                    </div>
                    <h2>MS Dhoni</h2>
                </div>
                <p> <span class="fa fa-quote-left left"></span>
                    Beyond its deft twists and turns, Death Note also addresses questions about morality, justice, and
                    capital punishment. All this, plus beautiful animation and well-written dialogue and plot, makes
                    Death Note the cream of the animated crop.<span class="fa fa-quote-right right"></span></p>
                    <div class="social">
                        <a href="https://twitter.com/msdhoni" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/mahi7781/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/MSDhoni" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.youtube.com/results?search_query=msdhoni" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
            </div>

            <div class="containertest">
                <div class="profile">
                    <div class="imgBox">
                        <img src="/assets/img/rohitsharma.jpeg" alt="rohit">
                    </div>
                    <h2>Rohit Sharma</h2>
                </div>
                <p> <span class="fa fa-quote-left left"></span> Justice, murder, evil demon spirits...How far would you
                    go to correct the very essence of what is wrong with society? Death Note is an exceptional anime,
                    that is without question, but the second half of the series falters as it leads to a perfect
                    denouement. That alone drags down its vast promise.<span class="fa fa-quote-right right"></span></p>
                    <div class="social">
                        <a href="https://twitter.com/ImRo45" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/rohitsharma45/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/RohitSharmaOfficialPage" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.youtube.com/results?search_query=rohit+sharma" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
            </div>

        </div>

    </section>


    <!-- footer -->
    <section class="footer">
        <h4>About Us</h4>
        <p>In this world, there is only good and evil, that was the first universal truth I grasped from observing the
            world around me when I was child. <br> Every human being without expectation end up falling into one
            category or the other.</p>
        <div class="icons">
            <a href="https://www.facebook.com/deathnote" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/dnscriptbot"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/death.note._official/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/results?search_query=deathnote" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
        <p>Copyright © DeathNote Website | All Rights Reserved</p>
    </section>
    <audio autoplay=" ">
        <source src="/assets/img/deathnoteaudio.mp3" type="audio/mp3">
    </audio>

    <!-- <a href="#" class="gotop"><i class="fas fa-arrow-up"></i></a> -->
    <a href="#" class="gotop"><i class="fas fa-chevron-circle-up"></i></a>

</body>

</html>