<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="/assets/kira.css">
    <title>KIRA WORLD</title>
</head>
<body>
    <!-- <h1>Welcome to the <span>Kira World</span> </h1>
    <marquee behavior="alternate" direction="left">
        <h2>You are now God of this World</h2>
    </marquee> -->

    <video autoplay>
        <source src="/assets/img/kiraedited.mp4" type="video/mp4">
        </video>

    <!-- <a href="/deathnote" class="hero-btn">OPEN DEATHNOTE</a> -->
    <audio autoplay>
        <source src="/assets/img/Kira edit - FAKE(MP3_160K).mp3" type="audio/mp3">
    </audio>
</body>
</html>