<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/lchar.css">
    <title>L Character</title>
</head>

<body>
    <section class="head">
        <div class="logo">
            <h2>DEATHNOTE WIKI</h2>
        </div>
        <ul class="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/ryuk">RYUK</a></li>
            <li><a href="/light">LIGHT</a></li>
            <li><a href="/episodes">EPISODES</a></li>
            <li><a href="/deathnote">DEATHNOTE</a></li>
        </ul>
    </section>

    <section class="line">
        <hr>
    </section>
    <!-- 
    <section class="imagelight">
        <img src="/assets/lightpediacrop.jpeg" alt="light">
    </section> -->
    <section class="article">
        <h1> L (character)</h1>
        <h3><i>
                “Kira is childish, and he hates losing. You guessed it, I'm also childish and hate losing. ”</i></h3>
        <h2>Appearance :-</h2>
        <p>L is a very slim, pale, tall young man with messy neck-length black hair and black eyes. One of his <br> most
            noticeable features is the shadow below each of his eyes, a result of him being an insomniac. <br> L is
            always
            shown to be wearing a pair of blue jeans and a long-sleeved white shirt. He almost never <br> wears shoes or
            socks, preferring to go barefoot, even while in public. This was shown when he visited <br> Light Yagami's
            school
            and was seen barefoot while sitting on a bench, not bothering to wear his <br> shoes until he got up to
            walk. L
            also tends to hunch over when walking.</p>
        <br>
        <p>He is considered to be quite handsome, a trait noted by Misa Amane and Kiyomi Takada, among <br> others.</p>
        <h2>Character :-</h2>
        <p>L is quite secretive, and only communicates with the world through his assistant, Watari. He never <br> shows
            his
            face to the world in person, instead representing himself with a capital letter L drawn in <br> "Old English
            MT"
            or "Cloister Black" typeface. It is more likely to be "Cloister Black" as Watari's "W" is <br> different in
            "Old
            English MT.".</p>
        <br>
        <p>
            After meeting the Japanese Task Force, he requests that the task force refer to him as "Ryuzaki" as an
            additional safety measure. The Task Force never learns his true name, and it is revealed in neither the
            manga nor anime.
        </p>

        <p>L is very intelligent, though his disheveled and languid appearance masks his great powers of deduction and
            many question his abilities upon viewing him. L tends to second-guess everything he is presented with, and
            is extremely meticulous and analytical. He is good at deceiving his opponents, and is willing to take
            drastic measures to solve a case. Some of his tactics are quite bold, such as having death row inmate Lind
            L. Tailor pose as himself on live TV in order to draw out Kira, while others seem bizarre to those involved,
            such as handcuffing himself to suspected-Kira, Light Yagami. He is also shown to have a dry sense of humor,
            and he isn't above making sarcastic remarks to people. Although he tends to be polite, to some (such as Task
            Force member Shuichi Aizawa), L can seem condescending at times.</p>
        <br>
        <hr>
        <p class="footer" style="text-align: center;">Copyright © DeathNote Website | All Rights Reserved</p>
        <table border="1px" cellspacing="0">
            <tr>
                <th colspan="2"><img src="/assets/img/lpedia.jpg" alt="" width="350px" height="250px"></th>
            </tr>
            <tr>
                <th>Name</th>
                <td style="text-align: center;">L</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td style="text-align: center;">Hideki Ryuga</td>
            </tr>
            <tr>
                <th>Series Debut</th>
                <td style="text-align: center;">DeathNote Manga</td>
            </tr>
            <tr>
                <th>Species</th>
                <td style="text-align: center;">Human</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td style="text-align: center;">Male</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td style="text-align: center;">October 31, 1979</td>
            </tr>

        </table>


    </section>


</body>

</html>