<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/light.css">
    <title>Light Yagami</title>
</head>

<body>
    <section class="head">
        <div class="logo">
            <h2>DEATHNOTE WIKI</h2>
        </div>
        <ul class="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/ryuk">RYUK</a></li>
            <li><a href="/lchar">L</a></li>
            <li><a href="/episodes">EPISODES</a></li>
            <li><a href="/deathnote">DEATHNOTE</a></li>
        </ul>
    </section>

    <section class="line">
        <hr>
    </section>
    <!-- 
    <section class="imagelight">
        <img src="/assets/lightpediacrop.jpeg" alt="light">
    </section> -->
    <section class="article">
        <h1>Light Yagami</h1>
        <h3><i>“If we catch Kira, he is evil. If he wins and rules the world, then he is justice.”</i></h3>
        <h2>Appearance :-</h2>
        <p>Light is a young man, standing at above average height with light-brown hair and brown eyes. <br> During Part
            I, when not wearing his school uniform, which consists of a tan suit and red tie, he <br> dresses fairly
            casually, sometimes sporting a dress shirt underneath a jacket or a V-neck sweater <br> with a collared
            t-shirt underneath. During Part II, if not wearing a similar style of clothes, he is seen <br> wearing a
            suit.</p>
        <br>
        <p>He is considered to be quite handsome, a trait noted by Misa Amane and Kiyomi Takada, among <br> others.</p>
        <h2>Character :-</h2>
        <p>Light is characterized as hardworking, talented, and a natural genius. Highly perceptive and good <br> with
            problem solving skills, Light is a skilled planner and good at mapping out scenarios. Furthermore, <br>
            Light is very popular among peers and adored by his family members. However, his high intelligence <br> and
            constant praise from adults laid the foundation for an intense level of hubris which quickly took <br>
            effect once he obtained the notebook.</p>
        <br>
        <p>
            Similar to his father Soichiro, Light has a strong sense of justice but this quickly becomes warped after he
            becomes tainted by the notebook’s power. Believing the world to be "rotten," he uses his Death Note as a
            means by which he can enact his will to rid the world of evil people. Light's main goal is to create a new
            world that is free of injustice and populated only with people whom he deems honest and kind, thus becoming
            the "God of the new world". Light is decisive and driven to achieve his ambitions, without faltering one bit
            in his beliefs. Despite knowing the criminality of murder, Light would consider his actions the ultimate
            “sacrifice” to help the world.
        </p>

        <p>Through use of the Death Note, Light quickly begins to develop a cold and ruthless nature. As a utilitarian,
            he will take any means in order to achieve his goals. However, though his actions do put his family in
            harm’s way, he continues to show love and genuine concern for them. This is demonstrated when his sister
            Sayu is kidnapped and held for ransom; Light prevents Soichiro from taking drastic action in order to keep
            Sayu safe in spite of knowingly increasing Mello's chances of obtaining the Death Note.</p>
            <br>
            <hr>
           <p class="footer" style="text-align: center;">Copyright © DeathNote Website | All Rights Reserved</p>
        <table border="1px" cellspacing="0">
            <tr>
                <th colspan="2"><img src="/assets/img/light1.png" alt="" width="350px" height="250px"></th>
            </tr>
            <tr>
                <th>Name</th>
                <td style="text-align: center;">Light Yagami</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td style="text-align: center;">Kira</td>
            </tr>
            <tr>
                <th>Series Debut</th>
                <td style="text-align: center;">DeathNote Manga</td>
            </tr>
            <tr>
                <th>Species</th>
                <td style="text-align: center;">Human</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td style="text-align: center;">Male</td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td style="text-align: center;">February 28, 1986</td>
            </tr>

        </table>


    </section>


</body>

</html>