<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/ryuk.css">
    <title>Ryuk</title>
</head>

<body>
    <section class="head">
        <div class="logo">
            <h2>DEATHNOTE WIKI</h2>
        </div>
        <ul class="nav">
            <li><a href="/">HOME</a></li>
            <li><a href="/light">LIGHT</a></li>
            <li><a href="/lchar">L</a></li>
            <li><a href="/episodes">EPISODES</a></li>
            <li><a href="/deathnote">DEATHNOTE</a></li>
        </ul>
    </section>

    <section class="line">
        <hr>
    </section>
    <!-- 
    <section class="imagelight">
        <img src="/assets/lightpediacrop.jpeg" alt="light">
    </section> -->
    <section class="article">
        <h1>Ryuk</h1>
        <h3><i>“Because I was bored, that's why.” — Ryuk ("Boredom")</i></h3>
        <h2>Appearance :-</h2>
        <p>Ryuk has a fairly humanoid appearance. He is extremely slim and has light-gray skin, almost blue-ish <br> in
            color, with spiky black hair; thin, blue-gray lips; and sharp, pointed teeth. His limbs are abnormally <br>
            long,
            and he wears rings on his fingers. He has large, round yellow eyes with bright red irises and <br>
            retractable
            feather-like wings on his back that enable him to flyRyuk (リューク, Ryūku) is a <br> Shinigami who indirectly
            gives
            Light Yagami a Death Note after becoming bored with the Shinigami <br> Realm.</p>
        <br>
        <p>This Death Note is discovered by Light, who uses it in an attempt to cleanse the world of evil and <br>
            injustice, satisfying Ryuk's need for entertainment.</p>
        <h2>Character :-</h2>
        <p>Ryuk is different from most Shinigami in that he does not want to simply pass time away in the <br> Shinigami
            Realm but find something to relieve his boredom, and he is unaffected by the mocking <br> he receives from
            other
            Shinigami for it.</p>
        <br>
        <p>
            Ryuk regards Light as "interesting," specifically due to his experiments and the loopholes he discovers
            regarding the Death Note's rules and instructions, occasionally discovering abilities of the notebook even
            Ryuk did not know existed. Though he finds Light interesting, he does not care whether Light lives or dies
            and does not actively assist him. At times, he withholds important information from Light and only assists
            him when he has something to gain from it. As his only purpose in dropping the notebook was because he was
            bored, most of his actions are primarily motivated by wanting to see something interesting, as he sees
            Light's use of the Death Note and the way humans react to it as truly entertaining. Ryuk is intelligent, but
            Light's ability to understand his desires easily makes him able to be manipulated.
        </p>

        <p>Ryuk has a great fondness for apples, stating the addiction to be an equivalent of cigarettes and alcohol for
            humans. Shinigami apples are withered and taste like sand, as he shows Misa at one point, which is why he
            prefers apples from the human world. He suffers certain symptoms of withdrawal if he goes too long without
            eating them, involving twisting himself up like a pretzel and doing handstands. He also states that he is
            shy around girls, revealed when Misa regains her memories and hugs Ryuk in excitement.</p>
        <br>
        <hr>
        <p class="footer" style="text-align: center;">Copyright © DeathNote Website | All Rights Reserved</p>
        <table border="1px" cellspacing="0">
            <tr>
                <th colspan="2"><img src="/assets/img/deathnote1.gif" alt="" width="350px" height="250px"></th>
            </tr>
            <tr>
                <th>Name</th>
                <td style="text-align: center;">Ryuk</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td style="text-align: center;">Kira</td>
            </tr>
            <tr>
                <th>Series Debut</th>
                <td style="text-align: center;">DeathNote Manga</td>
            </tr>
            <tr>
                <th>Species</th>
                <td style="text-align: center;">Shinigami</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td style="text-align: center;">Male</td>
            </tr>
            <tr>
                <th>Notable Kills</th>
                <td style="text-align: center;">Light Yagami</td>
            </tr>

        </table>


    </section>


</body>

</html>